.Items {
    display: flex;
    flex-direction: row;
    .items-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .item {
            margin: 15px;
            display: flex;
            width: 200px;
            flex-direction: column;
            justify-content: space-between;
            img {
                width: 100%;
            }
            .addToBasketButton {
                width: 100%;
                background-color: $addToBasketButtonColor;
                border: unset;
                border-radius: $borderRadius;
                padding: 10px;
            }
            &:hover {
                transform: scale(1.05, 1.05);
                transition-duration: 1s;
            }
        }
    }
}